:root {
  --primary-color-website: #f1b963;
  --h1-positioning: center;
  --h1-font-size: 60px;
  --p-positioning: center;
}
body {
  background-color: var(--primary-color-website);
  display: block;
  margin: 50px;
}
h1 {
  text-align: var(--h1-positioning);
  font-size: var(--h1-font-size);
}
p {
  text-align: var(--p-positioning);
}
.footer-positioning {
  text-align: center;
}
.croissant {
  max-width: 60%;
  display: block;
  margin: 30px auto;
  border-radius: 5px;
}
